<!DOCTYPE html>
<html>
  <head>
    <script defer src="https://unpkg.com/alpinejs@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="node_modules/@webcomponents/html-imports/html-imports.min.js"></script>
    <link href="dropdown.html" rel="import" />
  </head>

  <body>
    <div class="p-6">
      <x-dropdown content="Content for my first dropdown"></x-dropdown>

      <div>Random stuff...</div>

      <x-dropdown content="Content for my second dropdown"></x-dropdown>

      <x-dropdown></x-dropdown>
    </div>
  </body>
</html>
