<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>

  <body>
    <!-- Tabs -->
    <div
      x-data="{
        selectedId: null,
        init() {
          // Set the first available tab on the page on page load.
          this.$nextTick(() => this.select(this.$id('tab', 1)))
        },
        select(id) {
          this.selectedId = id
        },
        isSelected(id) {
          return this.selectedId === id
        },
        whichChild(el, parent) {
          return Array.from(parent.children).indexOf(el) + 1
        }
      }"
      x-id="['tab']"
      class="max-w-3xl mx-auto"
    >
      <!-- Tab List -->
      <ul
        x-ref="tablist"
        @keydown.right.prevent.stop="$focus.wrap().next()"
        @keydown.home.prevent.stop="$focus.first()"
        @keydown.page-up.prevent.stop="$focus.first()"
        @keydown.left.prevent.stop="$focus.wrap().prev()"
        @keydown.end.prevent.stop="$focus.last()"
        @keydown.page-down.prevent.stop="$focus.last()"
        role="tablist"
        class="-mb-px flex items-stretch"
      >
        <!-- Tab -->
        <li>
          <button
            :id="$id('tab', whichChild($el.parentElement, $refs.tablist))"
            @click="select($el.id)"
            @mousedown.prevent
            @focus="select($el.id)"
            type="button"
            :tabindex="isSelected($el.id) ? 0 : -1"
            :aria-selected="isSelected($el.id)"
            :class="isSelected($el.id) ? 'border-gray-200 bg-white' : 'border-transparent'"
            class="inline-flex px-5 py-2.5 border-t border-l border-r rounded-t-md"
            role="tab"
          >
            Tab 1
          </button>
        </li>

        <li>
          <button
            :id="$id('tab', whichChild($el.parentElement, $refs.tablist))"
            @click="select($el.id)"
            @mousedown.prevent
            @focus="select($el.id)"
            type="button"
            :tabindex="isSelected($el.id) ? 0 : -1"
            :aria-selected="isSelected($el.id)"
            :class="isSelected($el.id) ? 'border-gray-200 bg-white' : 'border-transparent'"
            class="inline-flex px-5 py-2.5 border-t border-l border-r rounded-t-md"
            role="tab"
          >
            Tab 2
          </button>
        </li>
      </ul>

      <!-- Panels -->
      <div
        role="tabpanels"
        class="bg-white border border-gray-200 rounded-b-md"
      >
        <!-- Panel -->
        <section
          x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))"
          :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))"
          role="tabpanel"
          class="p-8"
        >
          <h2 class="font-bold text-xl">Tab 1 Content</h2>
          <p class="mt-2 text-gray-500">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, quo
            sequi error quibusdam quas temporibus animi sapiente eligendi!
            Deleniti minima velit recusandae iure.
          </p>
          <button
            class="mt-5 border border-gray-200 rounded-md px-4 py-2 text-sm"
          >
            Something focusable
          </button>
        </section>

        <section
          x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))"
          :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))"
          role="tabpanel"
          class="p-8"
        >
          <h2 class="font-bold text-xl">Tab 2 Content</h2>
          <p class="mt-2 text-gray-500">
            Fugiat odit alias, eaque optio quas nobis minima reiciendis
            voluptate dolorem nisi facere debitis ea laboriosam vitae omnis ut
            voluptatum eos. Fugiat?
          </p>
          <button
            class="mt-5 border border-gray-200 rounded-md px-4 py-2 text-sm"
          >
            Something else focusable
          </button>
        </section>
      </div>
    </div>
  </body>
</html>
